.navbar {
  color: black;
  text-align: center;
  margin-top:100px;
  margin-bottom:20px;

}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}


.navbar ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Mobile menu button styles */
@media (max-width: 900px) {
  .navbar {
    display: none;
  }
}